<!doctype html>
<title>{% block title %}{% endblock %} AIDE - Association Interscolaire de Discussion entre Etudiants </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='/img/AIDE.png' ) }}">

<body class="{% block body_class %}{% endblock %}">
<nav>
  <div class="nav-left">
    <a href="{{ url_for('index') }} ">
      <img src="{{ url_for('static', filename='/img/Logo_AIDE_Blan.png') }}" alt="Logo" class="logo">
    </a>
    <h1>A.I.D.E.</h1>
  </div>

  <ul class="nav-buttons">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>
</body>