{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{ forum_name }} > {{ thread['title']}} {% endblock %}</h1>

  <a class="action" href="{{ url_for('forum.forum', forum_id=thread['forum_id']) }}">Back</a>
  {% if g.user %}
    <a class="action" href="{{ url_for('forum.reply', thread_id=thread_id) }}">New</a>
    <!-- url_for('forum.reply', thread_id=) -->
  {% endif %}

{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <h2 class="username">{{ post['username'] }} :</h2>
      </header>

      <p class="body">{{ post['body'] }}</p>

      <footer>
        <div class="about">written on {{ post['created'].strftime('%Y-%m-%d') }}</div>
      </footer>
    </article>

    {% if not loop.last %}
      <hr>
    {% endif %}

  {% endfor %}
{% endblock %}
