{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{ forum_name }} > {{ thread_title}} {% endblock %}</h1>
  <!--
  {% if g.user %}
    <a class="action" href="{{ url_for('forum.create', forum_id=1) }}">New</a>
  {% endif %}
  -->
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <h2 class="username">{{ post['username'] }} :</h2>
      </header>

      <p class="body">{{ post['body'] }}</p>

      <footer>
        <div class="about">written on {{ post['created'].strftime('%Y-%m-%d') }}</div>
      </footer>
    </article>

    {% if not loop.last %}
      <hr>
    {% endif %}

  {% endfor %}
{% endblock %}
